name: Tests

on:
  workflow_call:
    inputs:
      rust-version:
        required: true
        type: string
      minimal-versions:
        required: false
        type: boolean

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.rust-version }}
          override: true
      - uses: Swatinem/rust-cache@v1

      # Generate lockfile with minimal dependency versions using nightly
      - name: Install nightly toolchain
        if: ${{ inputs.minimal-versions }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
      - name: Generate lockfile with minimum dependency versions
        if: ${{ inputs.minimal-versions }}
        uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: generate-lockfile
          args: -Z minimal-versions

      - name: Run local test Server
        run: |
          docker run -d -p 3735:3735 etesync/test-server:latest
          ./scripts/wait-for-it.sh localhost:3735

      - name: Run tests
        env:
          ETEBASE_TEST_HOST: localhost:3735
        run: cargo test --no-fail-fast -- --test-threads=1
